.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table {
    max-width: 100%;
}
.table-bordered, .table-bordered td, .table-bordered th {
    border: 1px solid #f2f2f2;
}
.responsive-table {
    width: 100%;
    margin-bottom: 1.5em;
  }
  .responsive-table thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;

    overflow: hidden;
  }
  .responsive-table thead th {
    background-color: #3f51b5;
    border-bottom-width: 1px;
    vertical-align: bottom;
    font-size:13px;
    padding: 1rem 1.5rem;
    border-bottom: 2px solid #f2f2f2;
    font-weight: normal;
    text-align: left;
    color: white;
  }
  .responsive-table thead th:first-of-type {
    text-align: left;
  }
  .responsive-table tbody,
  .responsive-table tr,
  .responsive-table th,
  .responsive-table td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }
  .responsive-table th,
  .responsive-table td {
    padding: 1rem 1.5rem;
    vertical-align: top;
  }
  .responsive-table caption {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
  }
  .responsive-table tfoot {
    font-size: .8em;
    font-style: italic;
  }
  .responsive-table tbody tr {
    margin-bottom: 1em;
    border: 2px solid #3f51b5;
  }
  .responsive-table tbody tr:last-of-type {
    margin-bottom: 0;
  }
  .responsive-table tbody th[scope="row"] {
    background-color: #3f51b5;
    color: white;
  }
  .responsive-table tbody td[data-type=currency] {
    text-align: right;
  }
  .responsive-table tbody td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: 1em;
    color: rgba(94, 93, 82, 0.75);
  }
  .responsive-table tbody td {
    text-align: right;

  }

  @media (min-width: 75em) {
    .responsive-table th,
    .responsive-table td {
      padding: .75em;
    }
  }

  @media (min-width: 62em) {
    .responsive-table {
      font-size: 1em;
    }
    .responsive-table th,
    .responsive-table td {
      padding: .75em .5em;
    }
    .responsive-table tfoot {
      font-size: .9em;
    }
  }
  @media (min-width: 52em) {
    .responsive-table {
      font-size: .9em;
    }
    .responsive-table thead {
      position: relative;
      clip: auto;
      height: auto;
      width: auto;
      overflow: auto;
    }
    .responsive-table tr {
      display: table-row;
    }
    .responsive-table th,
    .responsive-table td {
      display: table-cell;
      padding: 1em;
    }
  
    .responsive-table caption {
      font-size: 1.5em;
    }
    .responsive-table tbody {
      display: table-row-group;
    }
    .responsive-table tbody tr {
      display: table-row;
      border-width: 1px;
    }
    .responsive-table tbody tr:nth-of-type(even) {
      background-color: rgba(255, 255, 255, 0.1);
    }
    .responsive-table tbody th[scope="row"] {
      background-color: transparent;
      padding: 1rem 1.5rem;
      font-weight: 400;
      vertical-align: top;
      color: #707070;
      text-align: left;
    }
    .responsive-table tbody td {
      text-align: left;
    }
    .responsive-table tbody td[data-title]:before {
      content: none;
    }
  }